#miheader{
    height: 100px;
    width: 100%;
    background-color: #027c60;
}

#cuerpo{
    width: 90%;
}

body{
    background-color: #d3d2d2;
}

.form-inline{
    margin-top: 150px;
    padding: 30px;
    background-color: #027c60;
}

.form-inline *{
    margin: auto;
    margin-bottom: 10px;
}

.form-inline h3,a{
    color: white;
}

.btn-primary{
    display: block;
}

#logo{
    margin: 0;
}

.navbar-header{
    height: 120px;
}