#miheader{
    height: 100px;
    width: 100%;
    background-color: #109586;
    
}

#cuerpo{
    width: 90%;
    
}

#cuerpo70{
    width: 100%;
    
}

body{
    background-color: #d3d2d2;
}

.form-inline{
    margin-top: 150px;
    padding: 30px;
    background-color: #109586;
    border-radius: 20px 20px;
}

.form-inline *{
    margin: auto;
    margin-bottom: 10px;
     border-radius: 20px 20px;
}

.form-inline h3,a{
    color: white;
}

.btn-primary{
    display: block;
}

#logo{
    margin: 0;
}

#navbarCollapse{

    padding-left: 900px;
}